{% extends "base.html" %}
{% block title %}Listado de Pokemon{% endblock title %}
{% block content %}
<h1>Pokemons</h1>
<hr>
<a href="{% url 'pokedex:add_pokemon' %}" class="btn btn-success mb-3" role="button">
    <i class="fa-solid fa-plus"></i> Añadir Pokemon
</a>
<ul class="list-group">
    <div class="row">
        {% for pokemon in pokemons %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="{{ pokemon.picture.url }}" alt="{{ pokemon.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name }}</h5>
                    <p class="card-text">Peso: {{ pokemon.weight }} | Altura: {{ pokemon.height }}</p>
                    <a class="btn btn-primary" href="{% url "pokedex:pokemon" pokemon.id %}" role="button">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="btn btn-primary" href="{% url "pokedex:edit_pokemon" pokemon.id %}" role="button">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a class="btn btn-danger" href="{% url "pokedex:delete_pokemon" pokemon.id %}" role="button">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% endblock content %}